<!-- Parallax Section -->
<section class="site-section parallax-features-section parallax" id="parallax-features" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <picture>
      <source media="(min-width: 992px)" srcset="{{ site.baseurl }}/images/boats-nomiddle.png">
      <img src="{{ site.baseurl }}/images/boats-full.jpg" alt="Parallax Features" />
    </picture>
  </div>

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ cms.traitsTitle }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ cms.traitsDescription }}</p>
      </div>

    </div>

    <!-- Section Features -->
    <div class="row section-features">

      <div class="col-md-3 col-sm-6 text-right">

        {% assign column_size = strapi.collections.traits | size | divided_by: 2 %}
        {% for trait in strapi.collections.traits limit: column_size %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ trait.strapi_attributes.Title }}</h3>
            <p>{{ trait.strapi_attributes.Description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ trait.strapi_attributes.Icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

      <div class="col-md-6 phone">
        <img src="{{ site.baseurl }}/images/boat-cutout.png" alt="Phone Image" />
      </div>

      <div class="col-md-3 col-sm-6 text-left">

        {% for trait in strapi.collections.traits limit: column_size offset: continue %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ trait.strapi_attributes.Title }}</h3>
            <p>{{ trait.strapi_attributes.Description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ trait.strapi_attributes.Icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>

  </div>
</section>
