<!-- Portfolio Section -->
<section class="site-section portfolio-section next-section-indicator" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ cms.portfolioTitle }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ cms.portfolioDescription }}</p>
      </div>

    </div>

    <!-- Filter Menu -->
    <div class="row filter-menu-wrapper">
      <div class="col-md-8 col-md-push-2">
        <div class="filter-menu">
          <ul>
            <li data-filter="all" class="current">All</li>
            {% assign categories = '' | split: '' %}
            {% for arr in strapi.collections.portfolio-items %}
              {% assign categories = categories | concat: arr.strapi_attributes.Category %}
            {% endfor %}
            {% assign categories = categories | map: "Title" | uniq %}
            {% for category in categories %}
              <li data-filter=".{{ category | replace:' ','-' | downcase }}" >{{ category }}</li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <!-- Portfolio Grid -->
    <div class="row portfolio-grid">

      {% for item in strapi.collections.portfolio-items %}

      {% assign item_categories = item.strapi_attributes.Category | map: "Title" %}
      <div class="col-md-4 col-sm-6 item visible {% for category in item_categories %} {{ category | replace:' ','-' | downcase }}{% endfor %}">
        <figure class="img-wrap">
          <img src="{{ item.strapi_attributes.Image.data.attributes.formats.medium | asset_url }}" alt="Portfolio Item Image" />
        </figure>
        <div class="item-content">
          <h3>{{ item.strapi_attributes.Title }}</h3>
          <h4>{{ item.strapi_attributes.Category.first.Title }}</h4>
          <div class="links">
            <ul>
              <!-- <li><a href="{{ item.url }}" class="item-link"><i class="pe-7s-link"></i></a></li> -->
              <li><a href="#" class="item-like"><i class="pe-7s-like"></i></a></li>
              <li><a href="{{ item.strapi_attributes.Image.data.attributes | asset_url }}" class="item-expand"><i class="pe-7s-exapnd2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      {% endfor %}

      <!-- Overlay Lightbox -->
      <div id="overlay" class="overlay"></div>

    </div>

  </div>
</section>
